body {
    background-color: aquamarine;
}

.container {
    display:flex;
    align-items: center;
    justify-content: center;
}

#calculatorBody {
    height:600px;
    width:400px;
    border: black 1px solid;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-top: 100px;
    gap:5px;
    border-radius: 5px;
    background-color: gray;
}

#Row1 button {
    height:60px;
    width:160px;
}

button {
    height:80px;
    width:80px;
    background-color: white;
    border-radius: 10px;
}

#CLEAR, #DELETE, #EQUALS, #DIVIDE, #PLUS, #MINUS, #DOT, #TIMES {
    background-color: aquamarine
}


#calculatorScreen {
    display:flex;
    height:100px;
    width:350px;
    border: 1px solid black;
    background-color: white;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius:10px;

}
